<%= form_for(@car_detail) do |f| %>
  <% if @car_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car_detail.errors.count, "error") %> prohibited this car_detail from being saved:</h2>

      <ul>
      <% @car_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :car_license %><br>
    <%= f.text_field :car_license %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :enter_date %><br>
    <%= f.date_select :enter_date %>
  </div>
  <div class="field">
    <%= f.label :car_category %><br>
    <%= f.text_field :car_category %>
  </div>
  <div class="field">
    <%= f.label :car_subcategory %><br>
    <%= f.text_field :car_subcategory %>
  </div>
  <div class="field">
    <%= f.label :car_status %><br>
    <%= f.text_field :car_status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
