<h1>Hello</h1>
<p>/car_detail/userpage</p>
<a href="/">Home</a>
<a href="/admins/sign_in">Sign In</a>


<table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Car license</th>
      <th>Description</th>
      <th>Enter date</th>
      <th>Car category</th>
      <th>Car subcategory</th>
      <th>Car status</th>
      <th></th>
      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Car license</th>
      <th>Description</th>
      <th>Enter date</th>
      <th>Car category</th>
      <th>Car subcategory</th>
      <th>Car status</th>
      <th></th>
      <!-- <th colspan="3"></th> -->
    </tr>
  </tfoot>

  <tbody>
    <% @car_details.each do |car_detail| %>
      <tr>
        <td><%= car_detail.car_license %></td>
        <td><%= car_detail.description %></td>
        <td><%= car_detail.enter_date %></td>
        <td><%= car_detail.car_category %></td>
        <td><%= car_detail.car_subcategory %></td>
        <td><%= car_detail.car_status %></td>
        <td><%= link_to 'Show', car_detail %></td>
      </tr>
    <% end %>
  </tbody>
</table>
